* {
  font-family: sans-serif;
  
}

body {
  background: gray;
  max-width: 300px;
}

.form {
 display: flex;
 flex-direction: column;
}

.form-row {
  /* background: blue; */
  display: flex;
  flex-direction: column;
}
.btn {
  margin: 0 5px;
}

.btn-danger {
  color: red;
  border: 1px solid red;
  background: none;
}

button:hover {
  margin: 1px solid black;
}